{% extends 'base.html' %} {% block title %} |Listings {% endblock %} 
{% block content %}

<!-- Listings -->
<section id="listings" class="py-4">
  <!-- Alerts -->
  {% include 'partials/_alerts.html' %}
  
  <div class="container">
    <div class="block full">
      <div class="block-title">
        <h2><strong>New</strong> Apply</h2>
        <a href="{% url 'create_post' %}" class="btn btn-md btn-success"
          ><i class="fa fa-plus"></i>New Submit</a
        >
      </div>

      <div class="table-responsive">
        <table
          id="example-datatable"
          class="table table-vcenter table-condensed table-bordered"
        >
          <thead>
            <tr>
              <th class="text-center">ID</th>
              <th class="text-center">Name</th>
              <th>Email</th>
              <th>Phone</th>
              <th>G.Y</th>
              <th>Applying In</th>
              <th class="text-center">Actions</th>
            </tr>
          </thead>
          <tbody>
            {% if posts %} {% for post in posts %}
            <tr>
              <td class="text-center">{{ post.id }}</td>
              <td>{{ post.name }}</td>
              <td>{{ post.email }}</td>
              <td>{{ post.phone }}</td>
              <td>{{ post.graduation_year }}</td>
              <td>{{ post.applying_in }}</td>
              <td class="text-center">
                <div class="btn-group">
                  <a
                    href="{% url 'update_post' pk=post.pk %}"
                    data-toggle="tooltip"
                    title="Edit"
                    class="btn btn-xs btn-primary"
                    ></i>Edit</a
                  >
                  <a
                  href="{% url 'upload' pk=post.pk %}"
                  data-toggle="tooltip"
                  title="CV Upload"
                  class="btn btn-xs btn-secondary"
                  ></i>Upload</a
                >
                </div>
              </td>
            </tr>
            {% endfor %} {% endif %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
{% endblock %}
